ASPNETCORE_ENVIRONMENT=Production

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=RainyScore

ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=RainyScore;Username=postgres;Password=change-me

MatchLiveProviders__ApiFootball__ApiKey=change-me
GeocodingProviders__GooglePlace__ApiKey=change-me
